@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/avenir-next-bold.woff') format('woff');
}

@font-face {
  font-family: 'AvenirNextReqular';
  src: url('../fonts/avenir-next-regular.woff') format('woff');
}

html, body {
  height:100%;
}

body {
  font-family: 'AvenirNext';
  font-size: 24px;
}
